.profile {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 8px;
  gap: 16px;
}

.profile_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile_text {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: var(--vp-c-text);
}

.sns_icons {
  display: flex;
  gap: 8px;
  height: 20px;
}

.sns_icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  mask: var(--icon) no-repeat center / contain;
  -webkit-mask: var(--icon) no-repeat center / contain;
  background-color: currentColor;
}

.sns_icon_github,
.sns_icon_twitter {
  composes: sns_icon;
}

/* SNSアイコン色定義 */
:root {
  --sns-icon-color: rgb(103, 103, 108);
}

@media (prefers-color-scheme: dark) {
  :root {
    --sns-icon-color: rgb(152, 152, 159);
  }
}

.sns_icons a>span {
  color: var(--sns-icon-color);
}

.sns_icon_github {
  --icon: url('https://api.iconify.design/simple-icons/github.svg');
}

.sns_icon_twitter {
  --icon: url('https://api.iconify.design/simple-icons/twitter.svg');
}
